.scroll-container-x {
  overflow-x: auto;

}

.scroll-container-y {
  overflow-x: auto;
  @media(min-width: 768px) {
    padding-right: rem(8);
    &::-webkit-scrollbar {
      width: rem(6);
    }
    
    &::-webkit-scrollbar-track {
      background: $lGreen;        /* цвет зоны отслеживания */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $green;    /* цвет бегунка */
      border-radius: rem(8);       /* округлось бегунка */
    }
  }
  
}