.set-goods {
  background-color: rgba(227, 247, 255, 0.25);
  padding: rem(10) 0;
  @media(min-width: 576px) {
    padding: rem(20) 0;
  }
  
  @media(min-width: 768px) {
    padding: rem(40) 0;
  }
  // .set-goods__container
  &__container {}
  // .set-goods__title
  &__title {}
  // .set-goods__slider
  &__slider {}
  // .set-goods__wrapper
  &__wrapper {
 
    @media(min-width: 991px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(20);
    }
  }
  // .set-goods__item
  &__item {}
}
.swiper {
}
.swiper-wrapper {

}
.swiper-slide {
  
}
.item-set-goods {
  border-radius: rem(8);
  padding: rem(15) rem(10);
  position: relative;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(10);
  @media(any-hover: hover) {
    &:hover {
      .item-set-goods__title {
        transform: translateY(rem(10));
      }
      .item-set-goods__btn {
        transform: translateY(rem(-10));
      }
    }
  }
  @media(min-width: 576px) {
    padding: rem(30) rem(20) ;
  }
  @media(min-width: 991px) {
    max-width: rem(520);
    width: 100%;
 }
  // .item-set-goods__title
  &__title {
    max-width: rem(310);
    width: 100%;
    font-size: rem(16);
    line-height: lh(22, 16);
    font-weight: 700;
    transition: transform .3s ease 0s;
    @media(any-hover: hover) {
      transition: transform .3s ease 0s;
    }
    @media(min-width: 576px) {
      font-size: rem(18);
    }
    @media(min-width: 1333px) {
      font-size: rem(20);
      min-height: rem(152);
    }
  }
  // .item-set-goods__btn
  &__btn {
    padding: rem(8) rem(10);
    font-size: rem(14);
    position: relative;
    z-index: 10;
    align-self: flex-start;
    @media(any-hover: hover) {
      transition: transform .3s ease 0s;
    }
    @media(min-width: 576px) {
      padding: rem(10) rem(16);
     
    }
  }
  // .item-set-goods_image
  &__image {
    display: inline-flex;
    max-width: percent(360, 520);
    width: 100%;
    object-fit: contain;
    @media(min-width: 1333px) {
      display: block;
      position: absolute;
      bottom: -15%;
      right: -2%;
      max-width: percent(298, 520);
    }
  }
}
.btn-arrow {
  // .btn-arrow__icon
  &__icon {}
}
