<article class="product-card swiper-slide module__card">
  <a href="#" class="product-card__image">
    <img class="product-card__image-main" src="@@img" alt="Мило з ромашкою">
    <img class="product-card__image-additional" src="@@img2" alt="Мило з ромашкою">
  </a>
  <div class="product-card__content">
    <div class="product-card__weight product-weight">
      <span>100 гр.</span>
      <span class="weight_active">200 гр.</span>
    </div>
    <h3 class="product-card__title"><a href="#">@@title</a></h3>
    <div class="product-card__rating rating-card">
      <svg class="rating-card__icon">
        <use xlink:href="@img/icons/icons.svg#rating"></use>
      </svg>
      5.0 <a href="#">(40 відгуків)</a>
    </div>
  </div>
  <div class="product-card__footer">
    <div class="product-card__price">45 грн</div>
    <div class="product-card__buttons">
      <button class="product-card__button button-card__favorite">
        <svg class="favorite__icon">
          <use xlink:href="@img/icons/icons.svg#favorite"></use>
        </svg>
      </button>
      <button class="product-card__button button-card__cart">
        <svg class="cart__icon">
          <use xlink:href="@img/icons/icons.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article>